*{
  padding: 0;
  margin: 0;
}

body{
  background-color:rgba(247, 247, 247, 0.63);
}


/* Font */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* BUTTON */
 .btm-main{
  font-size: 16px;
  font-weight:bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #4E47FF;
 }

/*  ----- header -----  */

      header{
        background-image: url('icon/Hero-bg.png');
        width: 100%;
      }

    /* nav style */
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 150px;
      padding: 50px 0px;
    }

    .nav-title{
      font-size: 34px;
      font-weight: 900;
      color: #4E47FF;
    }

    nav ul li{
      list-style: none;
    }

/* ----- Banner ----- */
    .banner{
      text-align: center;
      text-align: center;
      padding: 150px;
      margin: 0;
    }

    .banner-btn{
      margin: 37px;
    }

    .banner-title{
      font-size: 35px;
      /* color: rgba(37, 36, 50, 1); */
      color: #252432;

    }

 /* ----- Main ----- */

    /* Action */
    .action{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 116px 141px;
    }

    .action-title{
      font-size: 42px;
      font-weight: bold;
    }

    .action-description{
      font-size: 25px;
      color: rgba(37, 36, 50, 0.5);
      padding-bottom: 23px;
      padding-top: 23px;
    }

    section div img{
      border-radius: 50px;
    }

    /* NewsLetter */
    .newsletter{
      max-width: 1140px;
      margin: 0 auto;
    }
    
    .newsletter-main{
      padding: 50px;
    }

    .newsletter-iteams{
      display: flex;
      gap:167px;
      justify-content: space-around;
    }

    .newsletter-title{
      font-size: 38px;
      font-weight: 500px;
      text-align: center;
      padding-bottom: 40px;
    }

    .newsletter-background{
      background-color:#3b37b43e;
      border: none;
      border-radius: 30px;
    }
    .newsletter-iteam2{
      font-size: 80px;
      color: #4E47FF;
    }
    .newsletter-iteam3{
      font-size: 20px;
      color: #000000;
      text-align: center;
    }

     /* ----- revier ----- */

     .revie-star{
    display: flex;
    padding: 24px 24px;
}

.card{
    display: flex;
    gap:20px;
    padding: 150px;
    padding-top: 50px;
    justify-content:center;
}

.title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    padding-top: 137px;
}

.revie-title-description{
    padding-left: 24px;
}

.revie-clint {
    display: flex;
    padding-left: 24px;
    padding-top: 24px;
}

.revie-name{
    padding-left: 6px;
}

.revie-pic img{
    border-radius: 20px;
}

.revie-background{
    background-color:#ffffff;
    border: rgba(251, 239, 222, 0.885) 1px solid;
    width: 360px;
    height: 230px;
    box-shadow: 0px 0px 2px 0px blanchedalmond;
    border-radius: 15px;
}
.revie-sub-name{
    font-size: 15px;
    font-weight: bold;
    color: rgba(69, 69, 69, 0.745);
}
.revie-date{
    font-size: 15px;
    color: rgba(57, 57, 57, 0.467);
}
 /* ----- wc-mini ----- */
  .bg-title{
    font-size: 50px;
    font-weight:bold;
    /* padding-bottom:20px; */
  }

  .bg-description{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  .wc-big-pic{
    padding-top: 20px;
    width: 840px;
    height: 364px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
  }
  
  .title-pic{
  background-color:#ffffffa2;
  width:1140px;
  height: 650px;
  padding: 70px 150px;
  margin: auto;
  border-radius: 20px;
  box-shadow: #252432 0px 0px 1px 0px;
  border: none;
  }
  .background-title{
    text-align: center;
  }
 /* -----  Send Massage -----   */

 .massage-box{
  display: flex;
  justify-content:space-evenly;
  margin-top: 92px;
 }
 label{
  display: block;
 }
.box{
  padding: 10px;
  border:none;
  border-radius: 5px;
}

.massage-title{
  font-size: 97px;
}
 a .btm-main-box{
  margin: 10px;
}
.box-btn{
  align-items: center;
  padding: 10px 155px;
  margin-left: 10px;
  background-color: #4E47FF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}