*{
  padding: 0;
  margin: 50;
}

 /* ---- body ---- */
 .body-width
 {
  /* width: 96%; */
 }

/* Font */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* BUTTON */
 .btm-main{
  font-size: 16px;
  font-weight:bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #4E47FF;
 }



/*  ----- header -----  */

      header{
        background-image: url('icon/Hero-bg.png');
        width: 100%;
      }

    /* nav style */
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 150px;
    }

    .nav-title{
      font-size: 34px;
      font-weight: 900;
      color: #4E47FF;
    }

    nav ul li{
      list-style: none;
    }

/* ----- Banner ----- */
    .banner{
      text-align: center;
      text-align: center;
      padding: 150px;
      margin: 0;
    }

    .banner-btn{
      margin: 37px;
    }

    .banner-title{
      font-size: 35px;
    }





