*{
  padding: 0;
  margin: 0;
}

/* Font */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* BUTTON */
 .btm-main{
  font-size: 16px;
  font-weight:bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #4E47FF;
 }

/*  ----- header -----  */

      header{
        background-image: url('icon/Hero-bg.png');
        width: 100%;
      }

    /* nav style */
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 150px;
      padding: 50px 0px;
    }

    .nav-title{
      font-size: 34px;
      font-weight: 900;
      color: #4E47FF;
    }

    nav ul li{
      list-style: none;
    }

/* ----- Banner ----- */
    .banner{
      text-align: center;
      text-align: center;
      padding: 150px;
      margin: 0;
    }

    .banner-btn{
      margin: 37px;
    }
    
    .banner-title{
      font-size: 35px;
      /* color: rgba(37, 36, 50, 1); */
      color: #252432;

    }

 /* ----- Main ----- */

    /* Action */
    .action{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 116px 141px;
    }

    .action-title{
      font-size: 42px;
      font-weight: bold;
    }

    .action-description{
      font-size: 25px;
      color: rgba(37, 36, 50, 0.5);
      padding-bottom: 23px;
      padding-top: 23px;
    }

    section div img{
      border-radius: 50px;
    }

    /* NewsLetter */
    .newsletter{
      max-width: 1140px;
      margin: 0 auto;
    }
    
    .newsletter-main{
      padding: 50px;
    }

    .newsletter-iteams{
      display: flex;
      gap:167px;
      justify-content: space-around;
    }

    .newsletter-title{
      font-size: 38px;
      font-weight: 600px;
      text-align: center;
      padding-bottom: 40px;
    }

    .newsletter-background{
      background-color:#3b37b43e;
      border: none;
      border-radius: 30px;
    }
    .newsletter-iteam2{
      font-size: 80px;
      color: #4E47FF;
    }
    .newsletter-iteam3{
      font-size: 20px;
      color: #000000;
      text-align: center;
    }








